services:
  devcontainer:
    env_file:
      - container.env
      - path: ../.local/.env
        required: false
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      NUGET_PACKAGES: /usr/share/devcontainer-config/NuGet/global-packages
    init: true
